.git
.github
.venv
__pycache__
*.pyc
dist
build
lib
Examples_old
evaluation
Thirdparty/DBoW2/build
Thirdparty/DBoW2/lib
Thirdparty/g2o/build
Thirdparty/g2o/lib
Thirdparty/Sophus/build
Vocabulary/ORBvoc.txt
Examples/*/*_tum
Examples/*/*_kitti
Examples/*/*_euroc
Examples/*/*_tum_vi
Examples/*/*_realsense*
